.content {
  font-size: 18px;
}

a, a:hover, a:visited, a.external-link, a.internal-link {
  color: #007A72;
}

.navbar h1 {
  color: #007A72;
}

.ed_note p {
  font-size: 0.8em;
  margin-top: -10px;
}

.introduction p {
  font-size: 1.2em;
  font-style: italic;
}
