p, ul {
  font-size: 18px;
}

a, a.external-link, a.internal-link {
  color: #ffa500;
}

a:hover, a.external-link:hover, a.internal-link:hover {
  background-color: #fff1d8;
  color: #ffa500;
}

a:visited, a.external-link:visited, a.internal-link:visited {
  color: gray;
}

.navbar {
  background-color: #fff1d8;
}
