 .navbar {
  position: fixed;
  padding: 1rem 0;
}
   
.content {
  font-size: 16px;
  font-family: "Arial", system-ui, sans-serif;
 margin-top: 25px;
}

a, a:visited, a.external-link, a.internal-link {
  color: #007A72;
}

a:hover, a.external-link:hover, a.internal-link:hover {
  color: #FF4000;
  background-color: #FEEFDD;
}

.navbar h1 {
  color: #FF4000;
  font-family: "Arial", system-ui, sans-serif;
  font-size: 18px;
  max-width: 840px;
  padding-left: 20px;
  margin: auto;
}

.content h1 {
  font-family: "Arial", system-ui, sans-serif;
  font-size: 1.8em;
}

.content p {
 text-align: justify;
}

.ed_note p {
  margin-top: -10px;
}

p.introduction {
  font-size: 1.2em;
  font-style: italic;
}

a.button{
 text-decoration: none;
 background-color:#007a72;
 border:none;
 border-radius:5px;
 color:#fff;
 margin-right:10px;
 padding:10px 10px 10px 10px;
}

.backlinks {
  background-color: #ececec;
}

.backlink-title, .backlink-card {
 font-family: "Arial", system-ui, sans-serif;
 font-size: 16px;
}

.footnote-item {
 padding-top: 0;
 margin-top: 0;
}

.date {
 font-family: Monospace;
 font-size: 14px;
 padding-top: 0;
 margin-top: 0;
 color: #6F7378;
}
